@font-face {
	font-family: 'Open Sans';
	src: url('../fonts/mainfonts/OpenSans-Regular.ttf');
	font-weight: 400;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
@font-face {
	font-family: 'Open Sans';
	src: url('../fonts/mainfonts/OpenSans-SemiBold.ttf');
	font-weight: 600;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
@font-face {
	font-family: 'Open Sans';
	src: url('../fonts/mainfonts/OpenSans-Bold.ttf');
	font-weight: 700;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

@font-face {
	font-family: 'Raleway';
	src: url('../fonts/mainfonts/Raleway-Italic.ttf');
	font-weight: 400;
	font-style: italic;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

@font-face {
	font-family: 'Event Horizon';
	src: url('../fonts/mainfonts/Event-Horizon.ttf');
	font-weight: 400;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}